.taskComponentSkeleton {
  border: 2px #797979 dotted;
  background-color: #fbfbfb;
  padding: 5px 10px;
  text-align: center;
  width: 300px;
  height: 600px;
  margin-right: 10px;
}
.taskComponentSkeleton__addbtn {
  background-color: transparent;
  margin: 10px 0;
  border: none;
  color: #b4b4b4;
  font-size: 20px;
}
